{
  "eslintConfig": {
    "env": {
      "browser": true,
      "jest": true
    },
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier/react", "plugin:prettier/recommended"],
    "plugins": ["react", "prettier"],
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [".js"]
        }
      ],
      "prettier/prettier": "error",
      "react/forbid-prop-types": 0
    }
  }
}
